AIRFLOW_UID=50000
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-central1
GCS_BUCKET_NAME=your-bucket-name-here
BIGQUERY_DATASET=nyc_taxi_analytics
GOOGLE_APPLICATION_CREDENTIALS=./config/gcp-key.json
DBT_PROFILES_DIR=./dbt
